.derecha {
    float: right;
}

.navbar {
    background-color: rgba(128, 128, 128, 0.288);
    div a{
        color: white;
        font-size: 20px;
        font-weight: 700;
        border: 3px solid rgb(0, 0, 128);
        border-radius: 7px;
        background-color: rgba(128, 128, 128, 0.384);
        padding: 4px;
        text-align: center
    }
}

.RedesSociales li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    background-color: transparent;

    a {
        text-decoration: none;
        color: rgb(30, 144, 255);
        list-style-type: none;
        vertical-align: super;
        font-size: 18px;
    }
}
