* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

ol, ul {
    padding-left: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url(../imagenes/wepik-2021720-144851.jpg);
    background-attachment: fixed;
    scroll-behavior: smooth;
}
.index1 {
    color: rgb(30, 144, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.index2 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-bottom: 20%;
}

.Conocenos{
    width: 25%;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px rgb(0, 0, 128);
    border: 2px solid rgb(0, 0, 128);
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 2%;
    background-color: rgba(128, 128, 128, 0.336);
    font-size: 25px;
}

.Conocenos:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.Conocenos:active{
    transform: translateY(5px);
}

.TituloTerciario {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    margin: 10px;
    text-decoration: underline;
}

.IconRedes {
    width: 30px;
    vertical-align: baseline;
}

.index1, .index2{
    color: rgb(30, 144, 255);
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-top: 80px;
}

.index2{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.carousel{
    display: block;
    text-align: -webkit-center;
}

.fotocarousel{
    width: 50%;
}

.BotonIndex{
    color: white;
    text-align: center;
    padding: 6px;
    display: inline-block;
    box-shadow: 2px 2px 2px rgb(0, 0, 128);
    border: 2px solid rgb(0, 0, 128);
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.336);
}

.UbiBoton{
    text-align: center;
}

.UbiBoton:hover{
    color:white;
    cursor: pointer;
    transform: translateY(-5px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.UbiBoton:active{
    transform: translateY(7px);
}

