@media (max-width: 961px){

    .body{
        background-attachment: fixed;
    }

    .contenedortotal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: stretch;
       
    }
    .prueba{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: start;
        align-items: center;
    }
    .prueba1{
        grid-row: 1/5;
        text-align: start;
    }
    .FotosFlex2{
        width: 200px;
        border-radius: 10px;
        border: 3px solid rgb(0, 0, 128);
    }
   
    .contenedormultiple{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        align-items: center;
        justify-content: start;
    }

    .prueba, .contenedormultiple {
        justify-items: center;
        margin-right: 20%;
        margin-bottom: 2%;
    }

    .Conocenos{
        width: 30%;
    }

    .MargenSobre{
        display: flex;
        flex-flow: column wrap;
        .Swift{
            width: 100%;
        }
        .Sobre1{
            width: 100%;
            font-size: 20px;
            font-weight: 100;
        }
    }

    .conejo{
        position: absolute; 
        right: 80px;
        width: 170px;
    }

    .SitioWeb{
        font-size: medium;
    }

    .conejoblanco{
        width: 370px;
    }

    .fotocarousel{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .container-fluid{
        display: flex;
        justify-content: center !important;
    }

    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgb(253, 253, 253);
        background-color: rgba(128, 128, 128, 0.363);
    }

    .index1{
        font-size: 30px;
        font-weight: 700;
    }

    .index2{
        font-size: 25px;
    }
    

    .margen{ 
        
        align-items: center;
        h3{
        font-size: 30px;
        background-color: rgba(128, 128, 128, 0.363);
     }
    }
    
    .navbar-light .navbar-toggler{
        display: none;
    }

    .btn-primary{
        display: inline !important;
    }

    .dropdown-menu{
        width: 83% !important;
        border: 0px;
        margin: 25px;
    }

    .offcanvas{
        background-image: url(../imagenes/wepik-2021720-144851.jpg);
        opacity: 0.9;
    }

    .TablaEspecificaciones{
        width: 90%;
    }

    .fotocontacto{
        display: none;
    }
}


@media (max-width: 740px){

    .body{
        background-attachment: fixed;
    }

    .SubTitulo{
        text-align: center;
        font-size: 27px;
    }

    .contenedortotal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: stretch;
       
    }
    .prueba{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: start;
        align-items: center;
    }
    .prueba1{
        grid-row: 1/5;
        text-align: start;
    }
    .FotosFlex2{
        width: 200px;
        border-radius: 10px;
        border: 3px solid rgb(0, 0, 128);
    }

    .FotosFlex{
        width: 70%;
    }

    .FotosFlex1{
        width: 400px;
        height: 200px;
    }

    .margin{
        text-align: right;
    }   
   
    .contenedormultiple{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        align-items: center;
        justify-content: start;
    }

    .prueba, .contenedormultiple {
        justify-items: center;
    }

    .Conocenos{
        width: 30%;
    }

    .MargenSobre{
        display: flex;
        flex-flow: column wrap;
        .Swift{
            width: 100%;
        }
        .Sobre1{
            width: 100%;
            font-size: 20px;
            font-weight: 100;
        }
    }

    .contenedorGrids1{
        margin-top: 40px;
    }

    .contenedorGrids{
        margin-top: 40px;
    }

    .conejo{
        position: absolute; 
        right: 80px;
        width: 170px;
    }

    .SitioWeb{
        font-size: medium;
    }

    .conejoblanco{
        width: 370px;
    }

    .fotocarousel{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .container-fluid{
        display: flex;
        justify-content: center !important;
    }

    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgb(253, 253, 253);
        background-color: rgba(128, 128, 128, 0.363);
    }

    .index1{
        font-size: 30px;
        font-weight: 700;
    }

    .index2{
        font-size: 25px;
        margin-top: 20px;
    }
    

    .margen{ 
        
        padding-top: 10px ;
        padding-bottom: 10px;
        align-items: center;
        h3{
        font-size: 30px;
        background-color: rgba(128, 128, 128, 0.363);
     }
    }
    
    .navbar-light .navbar-toggler{
        display: none;
    }

    .btn-primary{
        display: inline !important;
    }

    .dropdown-menu{
        width: 83% !important;
        border: 0px;
    }

    .offcanvas{
        background-image: url(../imagenes/wepik-2021720-144851.jpg);
        opacity: 0.9;
    }

    .TablaEspecificaciones{
        width: 90%;
    }

    .fotocontacto{
        display: none;
    }
}


@media (max-width: 415px){

    html{
        overflow-x: hidden;
    }

    .contenedortotal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-bottom: 30px;
    }
    .prueba{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: start;
        align-items: center;
    }
    .prueba1{
        grid-row: 1/5;
        text-align: center;
    }

    .prueba, .contenedormultiple{
        margin: 0px;
        padding: 10px;
    }

    .FotosFlex2{
        width: 200px;
        border-radius: 10px;
        border: 3px solid rgb(0, 0, 128);
    }

    .FotosFlex{
        width: 80%;
    }

    .FotosFlex1{
        width: 300px;
        height: 150px;
    }
   
    .contenedormultiple{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        align-items: center;
        justify-content: start;
    }

    .Conocenos{
        width: 30%;
        font-size: 20px;
    }

    .conejo{
        position: absolute; 
        right: 80px;
        width: 170px;
    }

    .SitioWeb{
        font-size: medium;
    }

    .conejoblanco{
        width: 370px;
    }

    .fotocarousel{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .carousel{
        margin-top: 0px;
    }

    .container-fluid{
        display: flex;
        justify-content: center !important;
    }

    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgb(253, 253, 253);
        background-color: rgba(128, 128, 128, 0.363);
    }

    .index1{
        font-size: 25px;
        font-weight: 100;
    }

    .index2{
        font-size: 20px;
    }

    .margen{ 
        
        padding-top: 10px ;
        padding-bottom: 10px;
        align-items: center;
        h3{
        font-size: 30px;
        background-color: rgba(128, 128, 128, 0.363);
     }
    }

    fieldset{
        margin: 7px;
        border: 3px solid navy;
        padding: 16px;
    }

    .MargenSobre{
        display: flex;
        flex-flow: column wrap;
        .Swift{
            width: 100%;
        }
        .Sobre1{
            width: 100%;
            font-size: 20px;
            font-weight: 100;
        }
    }
    
    .navbar-light .navbar-toggler{
        display: none;
    }

    .btn-primary{
        display: inline !important;
    }

    .dropdown-menu{
        width: 83% !important;
        border: 0px;
    }

    .offcanvas{
        background-image: url(../imagenes/wepik-2021720-144851.jpg);
        opacity: 0.9;
    }
    
    .Principal{
        
        margin-top: 50%;
        .ImagenBienvenido{
            width: 90%;
            margin-top: 10%;
            margin-bottom: 10%;
        }
    }

    .TablaEspecificaciones{
        width: 99%;
        .fila1, .columna1{
            font-size: 17px;
        }
        .Columna2{
            font-size: 15px;
        }
    }

    .SubTitulo, .SubTitulo2{
        font-size: 20px;
    }

    .dropdown-menu{
        margin: 25px;
    }

    .Botones {
        text-align: center;
    }

    .fotocontacto{
        display: none;
    }
}
