.Sobre1{
    width: 50%;
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}


.Swift{
    width: 40%;
}

.MargenSobre{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

}