.Sobre1, .Sobre2{
    width: 50%;
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    position: relative; left: 50%; top: -160px;
}

.Sobre2{
    margin-bottom: 40px;
    margin-top: 40px;
}

.Swift{
    margin-top: 30px;
    width: 45%;
    margin-bottom: -300px;
}

.MargenSobre{
    margin-top: 100px;
}