
.videosflex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.video1 {
    width: 25%;
    border-radius: 10px;
    border: 2px solid black;
    margin: 20px;
}

.video2 {
    width: 25%;
    border-radius: 10px;
    border: 2px solid black;
    margin: 20px;
}