@import "index";
@import "grids";
@import "sobre-nosotros";
@import "footer";
@import "videos";
@import "header";
@import "error";
@import "contacto";
@import "bienvenido";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

.columna3 {
    color: mintcream;
    font-size: 20px;

}
.Texto {
    margin: 3px;
    position: relative; top: -43px; left: 300px;
    font-size: 18px;
}

.subtitulos{
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 300;
}

/**---TABLA DE ESPECIFICACIONES DE PRODUCTOS---**/

.TablaEspecificaciones {
    width: 60%;
    text-align: center;
    position: relative;
    left: 15%;
    padding: 20px;
    margin: 20px;
}

.fila1 {
    font-weight: 700;
    color: firebrick;
    background-color: rgba(25, 158, 118, 0.192);
    font-size: 20px;
    padding: 10px;
}
.columna1 {
    font-weight: 700;
    color: firebrick;
    background-color: rgba(25, 158, 118, 0.192);
    font-size: 20px;
    padding: 10px;
}

.Columna2 {
    color: white;
    font-size: 20px;
    padding: 10px;
    
}

.margen h3{
    margin-bottom: 0px;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 50px;
}

@import "media";