@import "index";
@import "grids";
@import "sobre-nosotros";
@import "footer";
@import "videos";
@import "header";
@import "error";
@import "contacto";
@import "bienvenido";
@import "especificaciones";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

.columna3 {
    color: mintcream;
    font-size: 20px;

}
.Texto {
    margin: 3px;
    position: relative; top: -43px; left: 300px;
    font-size: 18px;
}

.subtitulos{
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 300;
}

@import "media";